.experience {
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 3vw;
  position: absolute;
  top: 60px;
  z-index:1;
}

@media screen and (max-width: 450px) {
  .experience {
    position: absolute;
    top: 58px;
    gap: 5vw;
    margin: 0 10px;
  }
  .experience progress {
    width: 50%;
  }
}
