.gameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 350px;
  justify-content:end;
  left: 0%;
}
.bg1 {
  background-image: url("../../assets/1Tiles.png"), url("../../assets/2Fence.png"), url("../../assets/3Bushes.png"), url("../../assets/4Ground.png"), url("../../assets/5BackBushes.png"), url("../../assets/6Forest.png"), url("../../assets/7Hills.png"), url("../../assets/8Sky.png");
  background-position-y: -8px;
  width: 100%;
  height: 350px;
  float:right;
  position:absolute;
  left: 100%
}
.animatebg1 {
  background-image: url("../../assets/1Tiles.png"), url("../../assets/2Fence.png"), url("../../assets/3Bushes.png"), url("../../assets/4Ground.png"), url("../../assets/5BackBushes.png"), url("../../assets/6Forest.png"), url("../../assets/7Hills.png"), url("../../assets/8Sky.png");
  background-position-y: -8px;
  width: 100%;
  height: 350px;
  -webkit-animation:3s ease-in 1s infinite reverse both running rightToLeft;
  animation: 3s ease-in 1s infinite reverse both running rightToLeft;
  float:right;
  position:absolute;
  left: 100%
}
@-webkit-keyframes rightToLeft { from { left: 0%; } to { left:100%; }  }
        @keyframes rightToLeft { from { left: 0%; } to { left:100%; }  }
        @-webkit-keyframes centerToLeft { from { left: -100%; } to { left: 0%; }  }
        @keyframes centerToLeft { from { left: -100%; } to { left:0%; }  }
.animatebg2{
   background-image: url("../../assets/1Tiles.png"), url("../../assets/2Fence.png"), url("../../assets/3Bushes.png"), url("../../assets/4Ground.png"), url("../../assets/5BackBushes.png"), url("../../assets/6Forest.png"), url("../../assets/7Hills.png"), url("../../assets/8Sky.png");
  background-position-y: -8px;
  width: 100%;
  height: 350px;
  left: 0%;
  position:absolute;
    -webkit-animation:3s ease-in 1s infinite reverse both running centerToLeft;
  animation: 3s ease-in 1s infinite reverse both running centerToLeft;
}
.bg2{
   background-image: url("../../assets/1Tiles.png"), url("../../assets/2Fence.png"), url("../../assets/3Bushes.png"), url("../../assets/4Ground.png"), url("../../assets/5BackBushes.png"), url("../../assets/6Forest.png"), url("../../assets/7Hills.png"), url("../../assets/8Sky.png");
  background-position-y: -8px;
  width: 100%;
  height: 350px;
  left: 0%;
  position:absolute;
}
.backgroundContainer {
  display:inline-flex;
}

.clickzone {
  position: relative;
  z-index: 1;
}
.target {
  all: unset;
}
#skeleton, #blob, #ghost {
  all: unset;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  max-height: 100px;
  margin-top: 58px;
}
#blob img {
  transform: scaleX(-1);
  top: 17px;
  position:relative;
  width: 120px;
  pointer-events: none;
  object-fit: cover;
}
#ghost img {
  transform: scaleX(-1);
  top: 8px;
  position:relative;
  width: 100px;
  pointer-events: none;
  object-fit: cover;
}
#skeleton img {
  width: 130px;
  pointer-events: none;
  object-fit: cover;
  position: relative;
  top: 8px;
}


.bottomGame {
  text-align: end;
  width: 100vw;
}

.information {
  display: flex;
  position: absolute
}
.information * {
  width: 40vw;
}
.informationleft {
  margin-left: 1vw;
  margin-right: 9vw;
  text-align: left;
}
.informationright {
  margin-left: 9vw;
  margin-right: 1vw;
  text-align: right;
}
.information * * {
  width: 100%;
}
@media screen and (max-height: 840px) {
  .information {
    position: inherit;
  }
}
