.gameContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  border-bottom: 1px solid black;
height:55vh;
}

.clickzone {
  position: relative;
}
.target {
  all: unset;
}
.blob {
  all: unset;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}
.blob img {
  width: 200px;
    pointer-events:none;
}

.bottomGame {
  text-align:end;
  width:100vw;
}
