.gameContainer {
  background-image: url("../../assets/1Tiles.png"), url("../../assets/2Fence.png"), url("../../assets/3Bushes.png"), url("../../assets/4Ground.png"), url("../../assets/5BackBushes.png"), url("../../assets/6Forest.png"), url("../../assets/7Hills.png"), url("../../assets/8Sky.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 350px;
justify-content:end;
}

.clickzone {
  position: relative;
}
.target {
  all: unset;
}
.blob {
  all: unset;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
max-height: 100px;
margin-top: 58px;


}
.blob img {
  width: 180px;
    pointer-events:none;
    object-fit:cover;
}

.bottomGame {
  text-align:end;
  width:100vw;
}
