.healthbar {
  border: none;
  width: 400px;
  height: 60px;
  background: crimson;
}

.healthbar {
  color: crimson;
  height: 25px;
  width: 350px;
}

.healthbar::-moz-progress-bar {
  background: greenyellow
}

.healthbar::-webkit-progress-value {
  background: greenyellow;
}

.healthbar::-webkit-progress-bar {
  background: crimson;
}