.health {
  display: inline-flex;
  width: 100vw;
  margin: 10px;
  margin-left: -100px;
}
.health * {
  position: absolute;
  margin: 0;
  width: 350px;
  left: calc(50% - 350px / 2);
}

.healthcounter {
  text-align: center;
  padding-top: 2px;
  color: black;
}

.healthbarcontainer {
  background: crimson;
  color: crimson;
  height: 25px;
}

.healthbar {
  background: greenyellow;
  color: greenyellow;
  border: none;
  height: 25px;
  width: 10%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
