.shopContainer {
  background: linear-gradient(#241214, #3a1d20);
  background-size:cover;
  border: 10px solid transparent;
  border-image-source: url("../../assets/borders.png");
  border-image-repeat: round;
  border-image-slice: 60;
  border-image-width: 10px;
  display: flex;
  text-align: center;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
  height: 30vh;
	align-items: flex-start;
	position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
}
.shopBg {
  width: 100%;
  height: 100%;
}
.swordContainer {
	display: inline-flex;
}
.swordContainer * {
	padding: 0 10px;
}
.tabs {
	position: fixed;
}
.swordButton {
  outline: none;
  background-color: #5CC35F;
  border:3px solid #4C9E4E;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #4C9E4E;
}
.swordButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.potionButton {
  outline: none;
  background-color: #D61507;
  border:3px solid #A20F04;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #A20F04;
}
.potionButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #A20F04;
}
.EquipButton {
  outline: none;
  background-color: #704d2c;
  border:3px solid #50361e;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #50361e;
}
.EquipButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #A20F04;
}


.potionButtonBought {
  outline: none;
  background-color: #5c5a5a;
  border:3px solid #454444;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #454444;
}
.potionButtonBought:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #454444;
}
.scrollContainer {
  display: inline-flex;
}
.scrollButtons {
	outline: none;
  background-color: #C3D213;
  border:3px solid #A7B319;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #A7B319;
}
.scrollButtons:active {
	transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px;
}
.scrollTimer {
  padding: 0 10px;
}
.enchantButtons {
  outline: none;
  background-color: #6519B3;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #50138E;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #50138E;
}
.enchantButtons:active {
	transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #50138E;
}

.tabButtons img {
	width: 20px;
}
.tabButtons {
  background-color: #4b3537;
  width: 60px;
  border: 3px solid rgb(255, 255, 123);
  border-bottom : 0px;
  border-radius: 50% 50% 0% 0%

}
.tabButtons:focus {
  height:40px;
  background-color: #694a4c;
}
.swordsButtonsAndText {
  display: inline-flex;
}
.coinIcon {
  width: 15px;
}
@media screen and (max-height: 840px) {
  .shopContainer {
    position: relative;
  }
  .tabs {
    position: inherit;
  }
}
