.shopContainer {
    display: flex;
    text-align:center;
	border: 1px solid black;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	overflow-y: scroll;
	align-items: flex-start;
	position: fixed;
	max-height: 20vh;
    bottom: 0;
    width: 100%;
}
.damage {
	text-align: end;
	margin-right: 20px;
}
.swordContainer {
	display: inline-flex;
}
.swordContainer * {
	padding: 0 10px;
}
.swordButton {
	box-shadow: -1px 1px 7px 1px #3dc21b;
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	width: 200px;
	text-decoration:none;
	text-shadow:-1px 2px 3px #2f6627;
	margin-left: 20px;
}
.swordButton:hover {
	background-color:#5cbf2a;
}
.swordButton:active {
	position:relative;
	top:1px;
}

.potionButton {
	box-shadow: -1px 1px 7px 1px #c21b1b;
	background-color:#c74545;
	border-radius:10px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:5px 40px;
	text-decoration:none;
	text-shadow:-1px 2px 3px #662828;
}
.potionButton:hover {
	background-color:#bd2a2a;
}
.potionButton:active {
	position:relative;
	top:1px;
}

.potionButtonBought {
	box-shadow: -1px 1px 7px 1px #3c3030;
	background-color:#5a4a4a;
	border-radius:10px;
	border:1px solid #535252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:5px 40px;
	text-decoration:none;
	text-shadow:-1px 2px 3px #2C1D1D;
}
.potionButtonBought:hover {
	background-color:#282323;
}
.potionButtonBought:active {
	position:relative;
	top:1px;
}
.tabsContainer {
	display:flex;
	margin-top: -20px;
	list-style: none;
	gap: 10px;
	align-items:center;
	justify-content: start;
}
.tabIcons {
	width:35px;
}
.tabs {
    display:flex;
    border: 1px solid black;
	border-radius: 10px;
    width: 100px;
    justify-content: center;
	background-color: rgb(87, 58, 14)
}
.tabs:hover {
	cursor: pointer;
}