html body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
* {
     -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.App {
  height: 100%;
  margin: 0;
  position: absolute;
}
footer {
  flex-direction: column;
  flex-grow: 1
}

@media screen and (min-height: 900px) {
  .App {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
